<h1>COUPONS</h1>

<% @coupons.each do |coupon| %>
    <li>
        <%= link_to coupon.coupon_code + " " + coupon.store, coupon_path(coupon) %>
    </li>
<% end %><br>

<br><%= link_to "New Coupon", new_coupon_path %>